body {
    font-family: "Open Sans", sans-serif;
    
    margin: 64 auto 72px;
    
  }
  
  #main {
      width: 592px;
      margin: 32px auto 0;
      max-width: auto;
      
     
  }

  h1 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    line-height: 56px;
    font-weight: normal;
    
  
  }
  h1 strong {
    color: #ee24ff;
  }
  
  
  p, strong {
    color: #3f3d56;
  }
  

  
  img {
      text-align: center;
      margin-left: 60px;
  }

  span{
    color: #828282
    
  }

  p, rodape {
    color: #7d7987;
    line-height: 28px;
    font-size: 15px;
  }
  
  #rodape a{
    margin-left: 72px;
    color: #3f3d56;
    max-width: auto;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
  }

  #rodape {
    margin-top: 40px;
    margin-left: 85px;
  }

  #linha {
    margin-left: 376px;
  }

 